<a href="https://colab.research.google.com/github/BartoszJanJerzy/M-L-Bootcamp-cz.1/blob/master/03_ekstrakcja_cech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import sklearn

##Załadowanie danych

In [ ]:
def fetch(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df_raw = fetch()
df = df_raw.copy()
df

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

               Open      High       Low    Close   Volume
Date
2020-09-09  3202.99  3303.175  3185.000  3268.61  5188675
2020-09-08  3144.00  3250.845  3130.000  3149.84  6094205
2020-09-04  3318.00  3381.500  3111.130  3294.62  8781754
2020-09-03  3485.00  3488.410  3303.000  3368.00  8161113
2020-09-02  3547.00  3552.250  3486.685  3531.45  3931476
...             ...       ...       ...      ...      ...
2015-09-18   534.62   546.240   531.350   540.26  6160000
2015-09-17   526.98   546.970   526.570   538.87  4169484
2015-09-16   521.98   528.300   518.520   527.39  2252700
2015-09-15   523.25   527.920   517.200   522.37  2865900
2015-09-14   529.44   532.450   518.580   521.38  3130200

[1257 rows x 5 columns]

##Generowane nowych zmiennych

In [ ]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df.head()

               Open      High       Low    Close   Volume  day  month  year
Date
2020-09-09  3202.99  3303.175  3185.000  3268.61  5188675    9      9  2020
2020-09-08  3144.00  3250.845  3130.000  3149.84  6094205    8      9  2020
2020-09-04  3318.00  3381.500  3111.130  3294.62  8781754    4      9  2020
2020-09-03  3485.00  3488.410  3303.000  3368.00  8161113    3      9  2020
2020-09-02  3547.00  3552.250  3486.685  3531.45  3931476    2      9  2020

##Dyskretyzacaj zmiennej ciągłej
zmienna ilościowa -> kategorie

In [ ]:
df2 = pd.DataFrame(data={'height': [175.0,178.5,185.0,191.0,184.5,183.0,168.0]})
df2

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [ ]:
df2['height_cat'] = pd.cut(x=df2.height, #kolumna
                           bins = (160,175,180,195), #przedziały; mozna też podać tylko ich ilość
                           labels = ['small','medium','high'] #etykiety kategorii
                       )
df2

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [ ]:
# a teraz metoda get_dummies()
df2 = pd.get_dummies(df2, drop_first=True, prefix='height')
df2

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

##Ekstrakcja cech - przykład z językami

In [ ]:
df3 = pd.DataFrame(data={'lang':[['PL','ENG'], ['GER','ENG','PL','FRA'], ['RUS']]})
df3

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [ ]:
# zmienna 1: jak dużo jest języków
df3['lang_number'] = df3['lang'].apply(len)
df3

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [ ]:
# zmienna 2: czy jest tam j. polski?
df3['pl_flag'] = df3['lang'].apply(lambda x: 1 if 'PL' in x else 0)
df3

                  lang  lang_number  pl_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

##Ekstrakcja cech - przykład z linkami do stron

In [ ]:
df4 = pd.DataFrame(data={'website':['wp.pl','onet.pl','google.com']})
df4

      website
0       wp.pl
1     onet.pl
2  google.com

In [ ]:
# podział na domenę i rozszerzenie
new = df4.website.str.split('.',expand=True)
df4['portal'] = new[0]
df4['extension'] = new[1]
df4

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com